*.o
*.d
cube
textured_cube
*.a
*.so
*.elf
*.bin
mga1064_datasheet.txt
triangle
cubediag
cubefb
dztest
fbtest
filltest
fliptest
gltritest
scantest
seamtest
tritest
diagap
texprobe
test-swrast
test-xform
