*.o
*.d
cube
textured_cube
gears
*.a
*.so
*.elf
*.bin
mga1064_datasheet.txt
triangle
rawtri
cubediag
cubefb
dztest
fbtest
filltest
fliptest
gltritest
scantest
seamtest
tritest
diagap
texprobe
test-swrast
test-console
test-mode
test-xform
test-pipeline
test-gl
test-mga1064
test-virge-mode
